@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: Montserrat, FontAwesome;
	overflow-x: hidden;
}

body{
	background-color: #161616;
}

/*HEADER*/

.menuboton{
	z-index: 2;
	position: fixed;
	top: 3%;
	right: 0;
	width: 70px;
	height: 70px;
	color: #ceb900;
	background-color: #161616;
	border-radius: 5px 0px 0px 5px;
	text-align: center;
	box-shadow: 0px 0 10px -2px lightgrey;
}

.burguer-boton{
	padding-top: 20px;
	font-size: 30px;
	cursor: pointer;
}

.burguer-boton:hover{
	filter: drop-shadow(0px 0px 4px white);
}

.menu{
	z-index: 2;
	position: fixed;
	top: 15%;
	right: -100px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 70px;
	height: 400px;
	border-radius: 5px 0px 0px 5px;
	background-color: #161616;
	animation-name: salida;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	box-shadow: 0px 0 10px -2px lightgrey;
}


nav{
	display: flex;
	flex-direction: column;
}

nav i{
	color: #CEB900;
	font-size: 30px;
	cursor: pointer;
}

nav i:hover{
	filter: drop-shadow(0px 0px 4px white);
}

nav.show{
	animation-name: entrada;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes entrada{
	from{right: -100px;}
	to{right: 0;}
}

@keyframes salida{
	from{right: 0;}
	to{right: -100px;}
}

/*MAIN*/

section{
	display: flex;
	width: 100vw;
	height: 100vh;
}

.iz1{
	width: 35%;
	height: 100%;
	background-color: #ceb900;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.de1{
	width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.datos{
	color: black;
	font-size: calc(10px + 1vw);
	width: 50%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.datos a{
	text-decoration: none;
	color: black;
	font-size: calc(10px + 1vw);
}

.redes{
	width: 50%;
	height: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.redes i{
	color: black;
	font-size: calc(20px + 1vw);
}

.box{
	background-color: white;
	width: 60%;
	height: 85%;
	border: solid 5px #ceb900;
	padding: 20px;
	font-size: calc(8px + 1vw);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.box h1{
	height: 50px;
	text-align: center;
}

.formulario{
	height: 60%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.formulario input{
	width: 100%;
	min-height: 30px;
	height: 10%;
	border-radius: 10px;
	border: solid 1px lightgrey;
	padding: 0 10px;
}

.descripcion{
	width: 100%;
	height: 20%;
	border-radius: 10px;
	border: solid 1px lightgrey;
	padding: 10px;
}

.boton{
	border: none;
	color: white;
	background-color: #ceb900;
	border-radius: 20px;
	width: 200px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(5px + 1vw);
}

@media only screen and (max-width: 600px){
section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.iz1{
	width: 100%;
	height: 15%;
	background-color: #ceb900;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.de1{
	width: 100%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
}	

.datos{
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-size: calc(5px + 1vw);
	width: 50%;
	height: 80%;
	padding-left: 20px;
}

.datos a{
	text-decoration: none;
	color: black;
	font-size: calc(5px + 1vw);
}

.redes{
	width: 50%;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.redes i{
	color: black;
	font-size: calc(15px + 1vw);
}
	
.box{
	background-color: white;
	width: 60%;
	height: 90%;
	border: solid 5px #ceb900;
	padding: 20px;
	font-size: calc(6px + 1vw);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.box h1{
	text-align: center;
}

.formulario{
	height: 100%;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.formulario input{
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: solid 1px lightgrey;
	padding: 0 10px;
}

.descripcion{
	width: 100%;
	height: auto;
	border-radius: 10px;
	border: solid 1px lightgrey;
	padding: 10px;
}

.descripcion{
	height: 50px !important;
}

.boton{
	border: none;
	color: white;
	background-color: #ceb900;
	border-radius: 20px;
	width: 100px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}
}